<Limit POST DELETE PUT>
  allow from all
</Limit>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /admin/

  RewriteRule ^api/$ api.php [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^(.+)$ #!/$1 [R=302,NE]
</IfModule>