<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title data-spec="{1} &mdash; {0}">Hashbang Admin</title>
		<link rel="stylesheet" href="css/style.css">
		<script src="../js/hashbang.min.js"></script>
		<script src="js/hashbang-admin.min.js"></script>
	</head>
	<body>
		<nav id="overview"></nav>
		<form id="root"></form>
		<footer id="upload"></footer>
		<datalist id="tags"></datalist>
		<datalist id="attributes"></datalist>
		<dialog id="dialog" is="ha-dialog"></dialog>
		<template id="nav" is="hb-template">
			<dl>
				{% this.forEach(function (collection) { %}
				<dt data-id="{{ collection.id }}">
					<a href="{{ collection.url }}">{{ collection.title }}</a>
					<a onclick="HA.create(HA.TYPE.BLOCK, {{ collection.id }});" class="create block" title="Add new block to {{ collection.title }}">Add new block to {{ collection.title }}</a>
				</dt>
				{% collection.blocks.forEach(function (block) { %}
				<dd data-id="{{ block.id }}" draggable><a href="{{ block.url }}"  class="draggable">{{ block.title }}</a></dd>
				{% }); %}
				{% }); %}
			</dl>
			<ul>
				<li><a onclick="HA.create(HA.TYPE.COLLECTION);" class="collection">Create new collection</a></li>
				<li><a onclick="HA.logout();" class="collection">Logout</a></li>
			</ul>
		</template>
		<template id="datalist" is="hb-template">
			{% this.forEach(function (item) { %}
			<option>{{ item.title }}</option>
			{% }); %}
		</template>
		<template id="message" is="hb-template">
			<div>
				<h1>{{ this.title }}</h1>
				{% if (this.description) { %}
				<p>{{ this.description }}</p>
				{% } %}
				<div class="row">
					{% if (this.data) { %}
					{% this.buttons.forEach(function (button) { %}
					{% if (button.action) { %}
					<button onclick="HA.dialog.close(\'{{ this.data }}\');">{{ button.title }}</button>
					{% } else { %}
					<button onclick="HA.dialog.close();" autofocus>{{ button.title }}</button>
					{% } %}
					{% }.bind(this)); %}
					{% } else { %}
					<button onclick="HA.dialog.close();" autofocus>OK</button>
					{% } %}
				</div>
			</div>
		</template>
		<template id="collection" is="hb-template">
			<div class="input after">
				<label for="title">Title</label>
				<input data-type="collection" data-id="{{ this.id }}" name="title" value="{{ this.title }}" maxlength="64" id="title" class="h1">
			</div>
			<div class="input after">
				<label for="handle">Handle</label>
				<input data-type="collection" data-id="{{ this.id }}" name="handle" value="{{ this.handle }}" maxlength="32" pattern="[a-z0-9-]+" placeholder="please-use-lowercase-letters-and-0123456789" id="handle" class="code" required>
			</div>
			<div class="input">
				<label for="description">Description</label>
				<input data-type="collection" data-id="{{ this.id }}" name="description" value="{{ this.description }}" maxlength="256" id="description">
			</div>
			<div class="input after">
				<label for="type">Type</label>
				<input data-type="collection" data-id="{{ this.id }}" name="type" value="{{ this.type }}" maxlength="16" pattern="[a-z0-9-]+" id="type" class="code" required>
			</div>
			<input type="button" value="Delete" onclick="HA.delete(HA.TYPE.COLLECTION, {{ this.id }}, -1);" class="delete">
		</template>
		<template id="block" is="hb-template">
			{% this.blocks.forEach(function (block) { %}
			<div class="input after">
				<label for="title">Title</label>
				<input data-type="block" data-id="{{ block.id }}" name="title" value="{{ block.title }}" maxlength="64" id="title" class="h1">
			</div>
			<div class="input after">
				<label for="handle">Handle</label>
				<input data-type="block" data-id="{{ block.id }}" name="handle" value="{{ block.handle }}" maxlength="32" pattern="[a-z0-9-]+" placeholder="please-use-underscore-letters-and-0123456789" id="handle" class="code" required>
			</div>
			<div class="input">
				<label for="description">Description</label>
				<input data-type="block" data-id="{{ block.id }}" name="description" value="{{ block.description }}" maxlength="256" id="description">
			</div>
			<div class="input">
				<label for="content">Content</label>
				<input class="view" type="checkbox" checked>
				<textarea data-type="block" data-id="{{ block.id }}" name="content" id="content" rows="10">{{ block.content }}</textarea>
			</div>
			<div class="input images">
				<label>Images</label>
				<ul>
					{% HA.metadata.images.forEach(function (image) { %}
					<li>
						<img src="{{ image }}">
						<input type="button" value="Delete" onclick="HA.delete(HA.TYPE.IMAGE, \'{{ image }}\', -1);" class="delete">
					</li>
					{% }); %}
				</ul>
			</div>
			<div class="input">
				<label for="time">Time</label>
				<input data-type="block" data-id="{{ block.id }}" name="time" type="datetime-local" value="{{ block.time.format('Y-m-d\TH:i:s') }}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}(:[0-9]{2})?" id="time">
			</div>
			<div class="input">
				<label>Tags <a onclick="HA.create(HA.TYPE.TAG);" class="create" title="Create new tag">Create new tag</a></label>
				{% HA.metadata.tags.forEach(function (tag) { %}
				<div class="row">
					<input data-type="tag" data-id="{{ tag.id }}" name="handle" value="{{ tag.handle }}" maxlength="32" pattern="[a-z0-9-]+" class="code">
					<input data-type="tag" data-id="{{ tag.id }}" name="title" value="{{ tag.title }}" maxlength="128" list="tags" class="code">
					{% if (block.tags.has(tag)) { %}
					<input data-type="blockTag" data-id="{{ tag.id }}" name="blockId" value="{{ block.id }}" type="checkbox" class="code" checked>
					{% } else { %}
					<input data-type="blockTag" data-id="{{ tag.id }}" name="blockId" value="{{ block.id }}" type="checkbox" class="code">
					{% } %}
				</div>
				{% }); %}
			</div>
			<div class="input">
				<label>Attributes <a onclick="HA.create(HA.TYPE.ATTRIBUTE);" class="create" title="Create new attribute">Create new attribute</a></label>
				{% HA.metadata.attributes.forEach(function (attribute) { %}
				<div class="row">
					<input data-type="attribute" data-id="{{ attribute.id }}" name="handle" value="{{ attribute.handle }}" maxlength="32" pattern="[a-z0-9-]+" class="code">
					<input data-type="attribute" data-id="{{ attribute.id }}" name="title" value="{{ attribute.title }}" maxlength="256" list="attributes" class="code">
					{% if (block.attributes.has(attribute)) { %}
					<input data-type="blockAttribute" data-id="{{ attribute.id }}" name="blockId" value="{{ block.id }}" type="checkbox" class="code" checked>
					{% } else { %}
					<input data-type="blockAttribute" data-id="{{ attribute.id }}" name="blockId" value="{{ block.id }}" type="checkbox" class="code">
					{% } %}
				</div>
				{% }); %}
			</div>
			<div class="input after">
				<label for="type">Type</label>
				<input data-type="block" data-id="{{ block.id }}" name="type" value="{{ block.type }}" maxlength="16" pattern="[a-z0-9-]+" id="type" class="code" required>
			</div>
			<input type="button" value="Delete" onclick="HA.delete(HA.TYPE.BLOCK, {{ block.id }}, -1);" class="delete">
			{% }); %}
		</template>
		<script>
			HB.endpoint = "../api/:handle";
			HA.main();
		</script>
	</body>
</html>