@font-face { src: url(../res/ek-mukta-200.woff); font-family: "Ek Mukta"; font-weight: 200; }
@font-face { src: url(../res/ek-mukta-400.woff); font-family: "Ek Mukta"; font-weight: 400; }
@font-face { src: url(../res/mplus-1mn-200.woff); font-family: "M+ 1mn"; font-weight: 200; }

@keyframes fade-out {
	to { opacity: 0; }
}

@keyframes fade-in {
	0% { opacity: 0; }
}

@keyframes focus {
	0% { box-shadow: 0 0 0 4px transparent; }
}

body,
input,
dl,
ul,
dd,
dialog,
h1,
p {
	margin: 0;
}

input,
button,
ul,
dialog {
	padding: 0;
}

#overview a,
input,
button,
img,
hb-collection,
dialog,
ha-toolbar,
ha-editor {
	display: block;
}

a,
button,
input[type=checkbox],
input[type=file] {
	cursor: pointer;
}

dialog,
.after {
	align-items: center;
}

input,
button {
	-webkit-appearance: none;
	color: inherit;
	border-radius: 0;
	border: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	height: 1.5em;
	width: 100%;
	line-height: 1;
}

input,
button,
#content {
	outline: none;
}

body,
dialog,
#images ul,
.row,
.input {
	display: flex;
}

dialog h1,
#overview dt.target,
.title,
b {
	font-weight: 400;
}

.input:not(:hover) label,
html.move #overview dd,
#upload:not(.target),
.delete:not(.icon):not(:hover):not(:focus),
#editor:not(:hover),
#editor button:not(:hover) {
	opacity: 0.5;
}

label,
#overview dd,
#toggle,
#toggle:before,
button,
#upload,
.icon,
#images li,
a,
#editor {
	transition: 0.2s ease-in-out;
}

html {
	font: 200 18px/1.5 "Ek Mukta", sans-serif;
	background: #fff;
	color: #2C3E50;
	cursor: default;
	-webkit-font-smoothing: antialiased;
}

html.loading {
	cursor: progress;
}

html:after { /* Preload images */
	display: none;
	content: url(../res/done.svg) url(../res/error.svg);
}

html.before:before {
	left: 0; top: 0;
	background-image: url(../res/done.svg);
	position: fixed;
	pointer-events: none;
	z-index: 100;
}

html.before:not(.loading):not(.error):before {
	animation: fade-out 1s linear forwards;
}

html.before.loading:before { background-image: url(../res/loading.svg); }
html.before.error:before { background-image: url(../res/error.svg); }

a {
	color: inherit;
}

#overview a {
	text-decoration: none;
}

a.active {
	color: #2980B9;
}

img {
	width: 100%;
	height: auto;
}

#upload {
	background: #fff url(../res/upload.svg) no-repeat 50%;
	background-size: 1.334em;
	position: fixed;
	z-index: 4;
	font-size: 2em;
	left: 0; bottom: -120px;
	width: 100%; height: 120px;
	border-top: 1px solid #bdc3c7;
}

html.upload #upload {
	transform: translateY(-120px);
}

dialog {
	z-index: 10;
	position: fixed;
	left: 0; top: 0;
	width: 100%; height: 100%;
	justify-content: center;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	border: none;
	animation: fade-in 0.2s ease-in-out forwards;
}

dialog > div {
	background: #fff;
	padding: 2em;
	border: 1px solid #bdc3c7;
	margin: 1em;
}

dialog h1 {
	font-size: 1em;
}

dialog div.row {
	margin: 1em -1em -1em;
}

dialog input {
	margin-top: 0.5em;
	height: 1em;
	padding: 0.25em;
}

dialog button {
	margin: 0.5em;
}

#overview {
	width: 240px;
	padding: 1em;
	box-sizing: border-box;
}

html.move #overview dd {
	cursor: no-drop;
}

#overview dd a:before {
	float: left;
	cursor: move;
	margin-left: -0.5em;
	background-image: url(../res/drag.svg);
}

#overview dt:not(:first-of-type) {
	margin-top: 1em;
}

#overview dl > *:last-child {
	margin-bottom: 1em;
}

#root {
	width: 480px;
}

hb-collection > *,
#content > * {
	margin: 1em 0;
}

li {
	list-style: none;
}

label {
	font-style: italic;
}

input:invalid {
	color: #E74C3C;
}

dialog input,
button:not(.icon) {
	box-shadow: 0 0 0 1px #BDC3C7;
}

button:not(.icon):active {
	background: #ECF0F1;
}

dialog input:focus,
button:not(.icon):focus {
	box-shadow: 0 0 0 2px #BDC3C7;
	animation: focus 0.2s ease-in-out forwards;
}

#toggle,
template,
dialog:not([open]),
ha-toolbar:not([open]) {
	display: none;
}

#images ul,
#content {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#content ul {
	margin-left: 1.5em;
}

#content li {
	position: relative;
}

#content li:before {
	content: "-";
	width: 1.5em;
	text-align: center;
	position: absolute;
	left: -1.5em;
}

#editor,
#images .delete {
	position: absolute;
}

#editor {
	transform: translateX(-50%);
	margin-top: -1.5em;
	background: #2C3E50;
	color: #fff;
}

#editor .icon.text {
	font-family: serif;
}

#editor button {
	transition: 0.1s ease-in-out;
}

#editor button:active {
	background-color: #2980B9;
}

#images {
	position: relative;
}

#images ul {
	flex-wrap: wrap;
	align-items: flex-start;
	height: 15em;
}

#images li {
	position: relative;
	flex: auto;
	width: 128px;
	padding: 0.5em;
}

#images li:hover {
	background: #ECF0F1;
}

#images .delete {
	top: 0; right: 0;
}

#images li:hover .delete {
	background-image: url(../res/error-outline.svg);
}

#images .delete:hover {
	background-image: url(../res/error.svg) !important;
}

#content {
	height: 20em;
}

.title {
	font-size: 22px;
}

.small {
	font-size: 14px;
}

.extend {
	flex: 1;
}

.input {
	border-bottom: 1px solid #BDC3C7;
}

.input:not(.after) {
	flex-direction: column;
}

.after {
	flex-direction: row-reverse;
	position: relative;
}

.delete:not(.icon) {
	color: #fff;
	background: #E74C3C;
	box-shadow: 0 0 0 1px #C0392B;
}

.delete:not(.icon):active {
	background: #C0392B;
}

.delete:not(.icon):focus {
	box-shadow: 0 0 0 2px #C0392B;
}

.before:before {
	content: "";
	width: 1.5em; height: 1.5em;
	background: 50% no-repeat;
}

.icon {
	width: 1.5em; height: 1.5em;
	background: 50% no-repeat;
	border: none;
}

.icon.text {
	text-align: center;
}

.icon:not(.text) {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.icon.create { background-image: url(../res/add.svg); }
.icon.create:hover { background-image: url(../res/add-outline.svg); }

.icon.check { background-image: url(../res/done-empty.svg); }
.icon.check:checked { background-image: url(../res/done.svg); }
.icon.check:hover { background-image: url(../res/done-outline.svg); }

.icon.upload { background-image: url(../res/upload-outline.svg); }
.icon.upload:hover { background-image: url(../res/upload.svg); }

.icon.bold { font-weight: bold; }
.icon.italic { font-style: italic; }
.icon.underline { text-decoration: underline; }
.icon.link { background-image: url(../res/link.svg); }

@media screen and (max-width: 640px) {
	body,
	html {
		height: 100%;
		overflow: hidden;
	}

	#overview,
	#root {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	#toggle {
		display: block;
		position: fixed;
		z-index: 5;
		right: 0; top: 0;
		font-size: 1.5em;
		background-size: 1.334em;
		background-image: url(../res/settings-outline.svg);
		overflow: visible;
	}

	#toggle:checked {
		background-image: url(../res/settings.svg);
	}

	#toggle:before {
		content: "";
		position: fixed;
		left: 0; top: 0;
		width: 100%; height: 100%;
		background: rgba(255, 255, 255, 0.5);
	}

	#toggle:not(:checked):before {
		opacity: 0;
		pointer-events: none;
	}

	#toggle:checked + #overview,
	#toggle:checked:before {
		transform: translateX(-240px);
	}

	#overview {
		position: fixed;
		right: -240px; top: 0; bottom: 0;
		z-index: 3;
		background: #fff;
		transition: 0.2s ease-in-out;
		border-left: 1px solid #bdc3c7;
		padding-top: 2.25em;
	}

	#root {
		flex: 1;
		padding: 1.25em 1em 0;
	}
}